body {
    font-family: 'Roboto';
}
.navbar {
    transition: all 0.5s, opacity 0.5s;
    height: 70px;
    opacity: 1;
}
.navbar.shrink {
    height: 50px;
    opacity: 0.8;
}
#three-container {
    width: 100%;
    height: 100vh;
}